<h1>Editing Capistrano Study Model</h1>

<%= render 'form', capistrano_study_model: @capistrano_study_model %>

<%= link_to 'Show', @capistrano_study_model %> |
<%= link_to 'Back', capistrano_study_models_path %>
